body {
  font-family: Inter, sans-serif;
  color: white;
  margin: 0;
  padding: 0;
  background-color: white;
}

.navbar {
  background-color: #6E5AE2;
  color: white;
  padding: 15px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.main {
  margin-top: 80px;
  padding: 20px;
  color: black;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  background-color: white;
  color: black;
  padding: 20px;
  margin: 20px;
  width: 250px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
