.orders {
    /* background-color: #e34a4a; */
    display: inline-flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 200px;
    width: 150px;
    padding: 8px 16px;
    margin: 6px;
    border-radius: 3px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.drink-name {
    color: white;
    padding: 2px 4px;
    font-weight: bold;
}

.orderID {
    color: white;
    padding: 2px 4px;
    font-weight: bold;
}

.ingredients {
    color: white;
    padding: 2px 4px;
    font-weight: bold;
}