@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* Width and height of the scrollbar */
    .scrollbar::-webkit-scrollbar {
      width: 12px;
      height: 8px;
    }
  
    /* Track (the background of the scrollbar) */
    .scrollbar::-webkit-scrollbar-track {
      background: hsla(271, 82%, 63%, 0.557); /* Dark background */
      border-radius: 4px;
    }
  
    /* Handle (the draggable part) */
    .scrollbar::-webkit-scrollbar-thumb {
      background: #753bab; /* Purple */
      border-radius: 4px;
    }
  
    /* Handle on hover */
    .scrollbar::-webkit-scrollbar-thumb:hover {
      background: #9333ea; /* Darker purple */
    }
  }